<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/users/blocks']" [routerLinkActive]="['active']">Blocks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/users/table']" [routerLinkActive]="['active']">Table</a>
            </li>
        </ul>
    </div>
</nav>

<div class="p-5">
    <router-outlet></router-outlet>
</div>

